@attribute [Route(RouteConstants.ProductEditRoute)]

@rendermode InteractiveServer

<PageTitle>Edit product</PageTitle>

<h2>Product</h2>
<hr />

<AlertMessage @bind-Message="_message" />

@if (Product is null)
{
    <LoadingGate BackToListRoute="@RouteConstants.ProductBaseRoute" IsLoading="_message is null" />
}
else
{

    <AddUpdateForm TItem="Product"
                   EditContext="@EditContext"
                   OnValidSubmit="UpdateProduct"
                   IsProcessing="_isProcessing"
                   BackToListRoute="@RouteConstants.ProductBaseRoute"
                   FormName="edit">

        <ProductFieldsAddUpdate Model="Product"
                                Stores="_stores"
                                ProductTypes="_productTypes"
                                PurchaseUnits="_purchaseUnits"
                                LoadPicture="@LoadPicture"
                                LoadBarcode="@LoadBarcode" />

    </AddUpdateForm>

}

@code {

}