@using Microsoft.AspNetCore.Components.QuickGrid
@attribute [Route(RouteConstants.ShoppingListDetailRoute)]

@rendermode InteractiveServer

<PageTitle>Shopping list details</PageTitle>

<h2>Shopping list</h2>
<hr />

<AlertMessage @bind-Message="_message" />

@if (_shoppingList is null)
{
    <LoadingGate BackToListRoute="@RouteConstants.ShoppingListBaseRoute" IsLoading="_message is null" />
}
else
{
    <DetailForm EditRoute="@RouteConstants.GetEditRoute(RouteConstants.ShoppingListBaseRoute, _shoppingList.Id)"
                DeleteRoute="@RouteConstants.GetDeleteRoute(RouteConstants.ShoppingListBaseRoute, _shoppingList.Id)"
                BackToListRoute="@RouteConstants.ShoppingListBaseRoute">

        <ShoppingListFieldsDetail Model="_shoppingList" />

    </DetailForm>

    <div class="card-body p-4">

        <div class="p-4">
            <button class="btn btn-primary"
                    title="Add product to list"
                    @onclick="() => _addProductModal.OpenModal(_shoppingList)">
                Add product to list
            </button>
        </div>

        <div class="position-relative" style="height:500px;">

            @if (_isLoading)
            {
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center grid-overlay fade-in">
                    <div class="text-center">
                        <div class="spinner-border text-primary" role="status"></div>
                        <div class="mt-2 fw-bold text-primary">Refreshing...</div>
                    </div>
                </div>
            }

            <div class="grid-container @(_isLoading ? "grid-loading-blur" : "")">
                <QuickGrid @ref="_grid" Class="table table-hover grid-custom" Virtualize="true" Items="@_items" ItemSize="30">
                    <PropertyColumn TGridItem="ShoppingListItem" TProp="string" Property="s => s.Product!.Name" Title="Product" />
                    <PropertyColumn TGridItem="ShoppingListItem" TProp="int" Property="s => s.Quantity" Title="Quantity" />
                    <TemplateColumn Context="item" Title="Actions" Align="Align.Center">
                        <button class="btn btn-outline-warning"
                                title="Edit"
                                @onclick="() => _editItemModal.OpenModal(item)">
                            <i class="bi bi-pencil-square fs-5"></i>
                        </button>
                        <button class="btn btn-outline-danger"
                                title="Delete"
                                @onclick="() => _deleteModal.Show(item)">
                            <i class="bi bi-trash-fill fs-5"></i>
                        </button>

                    </TemplateColumn>
                </QuickGrid>
            </div>
        </div>
    </div>

    <AddProductModal @ref="_addProductModal" OnSuccess="RefreshData" />
    <EditItemModal @ref="_editItemModal" OnSuccess="RefreshData" />
    <ConfirmationModal TItem="ShoppingListItem"
                       @ref="_deleteModal"
                       OnConfirmed="HandleDelete"
                       Message="Remove this item from your shopping list?" />
}


@code {

}
